<div class="search">
  <form #myForm="ngForm" (ngSubmit)="onSubmit()">
    <input
      class="cityInput"
      placeholder="Search city"
      [(ngModel)]="cityName"
      name="cityName"
      (input)="autoResize($event.target)"
    />
  </form>
</div>
<div class="container" *ngIf="weatherData">
  <div class="upper-part">
    <img src="../assets/hot.jpg" *ngIf="weatherData.main.temp > 15" />
    <img src="../assets/cold.jpg" *ngIf="weatherData.main.temp <= 15" />

    <div class="weather-data">
      <div class="location">{{ weatherData.name }}</div>
      <div class="temperature">
        <!-- {{ fToC(weatherData.main.temp | number : "1.0-0") }}°F -->
        {{ fToC(weatherData.main.temp) | number : "1.0-0" }}°c
      </div>
    </div>
  </div>
  <div class="lower-part">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer_cold.png" />
          <span>min</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.temp_min }}°F</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer_hot.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.temp_max }}°F</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humidity.png" />
          <span>humidity</span>
        </div>
        <div class="info-block-value">{{ weatherData.main.humidity }}</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind-power.png" />
          <span>wind</span>
        </div>
        <div class="info-block-value">{{ weatherData.wind.speed }}km/hr</div>
      </div>
    </div>
    <div class="temperatur-info"></div>
  </div>
</div>

<!-- <div class="container">
  <div class="upper-part">
    <img src="../assets/hot.jpg" *ngIf="14 > 15" />
    <img src="../assets/cold.jpg" *ngIf="14 <= 15" />

    <div class="weather-data">
      <div class="location">Kathmandu</div>
      <div class="temperature">{{ 14.4 | number : "1.0-0" }}°C</div>
    </div>
  </div>
  <div class="lower-part">
    <div class="more-info-label">More Information</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer_hot.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">40°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer_hot.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">40°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer_hot.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">40°C</div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/thermometer_hot.png" />
          <span>max</span>
        </div>
        <div class="info-block-value">40°C</div>
      </div>
    </div>
    <div class="temperatur-info"></div>
  </div>
</div> -->
